{% extends "base.html" %}

{% block title %}Welcome | SimpleSocial{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h3 class="card-title mb-3">Login</h3>
            <form method="POST" action="">
                <div class="mb-3">
                    <label for="login-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="login-email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="login-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="login-password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h3 class="card-title mb-3">Create New Account</h3>
            <form method="POST" action="{{ url_for('register') }}">
                <div class="mb-3">
                    <label for="register-username" class="form-label">Userame</label>
                    <input type="text" class="form-control" id="register-username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="register-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="register-email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="register-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="register-password" name="password1" required>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="confirm-password" name="password2" required>
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}